<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<h1>Student Registration</h1>

<form method="POST" action="/register">

    <label>Name:</label><br>
    <input type="text" name="name" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <label>Department:</label><br>
    <select name="department">
        <option>CSE</option>
        <option>IT</option>
        <option>AIML</option>
        <option>ECE</option>
        <option>EEE</option>
        <option>MECH</option>
    </select>
    <br><br>

    <label>CGPA:</label><br>
    <input type="number" step="0.01" name="cgpa" required><br><br>

    <label>Skills:</label><br>
    <input type="text" name="skills" placeholder="Python, Java, SQL" required><br><br>

    <label>Interest:</label><br>
    <select name="interest">
        <option>AI</option>
        <option>Web Development</option>
        <option>Data Science</option>
        <option>Software Development</option>
        <option>Cyber Security</option>
    </select>
    <br><br>

    <label>Preferred Location:</label><br>
    <input type="text" name="location" required><br><br>

    <input type="submit" value="Register">

</form>

<br>

<a href="/login">
    <button>Already have an account? Login</button>
</a>

</body>
</html>
