<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>AI-Based Internship Recommendation Engine</h1>

<h2>PM Internship Scheme</h2>

<hr>

<h3>Welcome</h3>

<p>
This project recommends the best internship based on
CGPA, Skills, Department and Interests.
</p>

<br>

<a href="/register">
<button>Student Register</button>
</a>

<a href="/login">
<button>Student Login</button>
</a>

</body>
</html>
